/awesome/scripts/sp
/dwm/wallpapers.txt
/hypr/hyprpaper/idx
/nvim/lazy-lock.json
/systemd/user/default.target.wants/
/vim/.netrwhist
/vim/plugged
/vim/viminfo
/zsh/.p10k.zsh
/zsh/.zcompdump
/zsh/zsh_hist
/tags
/xfce4/xfconf/
